@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

/*
  ==== Buttons ====
*/

.btn {
  padding: rem(18) rem(47);
  border-radius: 6px;
  border: 1px solid #CFADAC;
  background: #FFF; 
  color: #967675;
  text-align: center;
  box-shadow: 0px 15px 15px rgba(150, 118, 117, 0.3);
  transition: all 0.3s ;

    @media (min-width: $breakpoint768){
      &:hover {
        background-color: rgb(150, 118, 117);
        box-shadow: 0px 0px 0px rgba(150, 118, 117, 0.3);
        color: #fff;
      }

      &:active {
        transform: translateY(5px);
      }
    }
}