<section class="page__favorites favorites">
    <div class="favorites__container">
        <div class="favorites__images favorites__images--ibg">
            <img src="@img/favorites/01.jpg" alt="">
        </div>
        <div class="favorites__content">
            <div class="section-top-text">Become sexy</div>
            <h1 class="section-title">Mad love for fire headwear</h1>
            <a href="# " class="btn">Learn more</a>
        </div>
    </div>
</section>