<section class="page__hero hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="section-top-text">Introducing</div>
            <h1 class="section-title">Mad hatters,<br><span>b</span><span>/</span><span>c</span> style matters</h1>
            <a href="# " class="btn">Learn more</a>
        </div>
        <div class="hero__images">
            <div class="hero__item hero__item--ibg"><img src="@img/hero/01.jpg" alt="img"></div>
            <div class="hero__item hero__item--ibg" ><img src="@img/hero/02.jpg" alt="img"></div>
        </div>
    </div>
</section>
