<section class="page__options options">
    <div class="options__container">
        <div class="options__list list-options">
            <div class="list-options__item ">
                <h5 class="list-options__title _icon-dots">Brands</h5>
                <p class="list-options__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</p>
            </div>
            <div class="list-options__item">
                <h5 class="list-options__title _icon-dots">Styles</h5>
                <p class="list-options__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.v</p>
            </div>
            <div class="list-options__item">
                <h5 class="list-options__title _icon-dots">Colors</h5>
                <p class="list-options__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</p>
            </div>
        </div>
    </div>
</section>