<div class="page__quote quote">
    <div class="quote__container">
        <div class="quote__content">
            <div class="quote__circle"></div>
            <q class="quote__text">In quoting others we cite ourselves</q>
        </div>
    </div>
</div>

