<div class="page__stripes stripes">
    <div class="stripes__item"></div>
    <div class="stripes__item"></div>
    <div class="stripes__item"></div>
    <div class="stripes__item"></div>
    <div class="stripes__item"></div>
    <div class="stripes__item"></div>
</div>