<section class="page__styles styles">
    <div class="styles__container">
        <div class="styles__content">
            <div class="section-top">Hat’s that bring the fire</div>
            <h2 class="section-title">Our Range</h2>
        </div>
        <ul class="styles__list">
            <li class="styles__item">
                <div class="styles__card card-styles">
                    <div class="card-styles__img card-styles__img--ibg card-styles__img--ibg">
                        <img src="@img/styles/01.jpg" alt="img">
                    </div>
                    <div class="card-styles__body">
                        <h3 class="card-styles__title">The pretender</h3>
                        <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas vestibulum.</div>
                    </div>
                </div>
            </li>
            <li class="styles__item">
                <div class="styles__card card-styles">
                    <div class="card-styles__img card-styles__img--ibg">
                        <img src="@img/styles/02.jpg" alt="img">
                    </div>
                    <div class="card-styles__body">
                        <h3 class="card-styles__title">The influencer</h3>
                        <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas vestibulum.</div>
                    </div>
                </div>
            </li>
            <li class="styles__item">
                <div class="styles__card card-styles">
                    <div class="card-styles__img card-styles__img--ibg">
                        <img src="@img/styles/03.jpg" alt="img">
                    </div>
                    <div class="card-styles__body">
                        <h3 class="card-styles__title">The andy cap</h3>
                        <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas vestibulum.</div>
                    </div>
                </div>
            </li>
            <li class="styles__item">
                <div class="styles__card card-styles">
                    <div class="card-styles__img card-styles__img--ibg">
                        <img src="@img/styles/04.jpg" alt="img">
                    </div>
                    <div class="card-styles__body">
                        <h3 class="card-styles__title">The traveller</h3>
                        <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas vestibulum.</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="styles__actions actions-styles">
            <div class="actions-styles__bg">More</div>
            <button class="actions-styles__btn" type="button">+ Show More</button>
        </div>
</section>