<section class="page__styles styles">
    <div class="styles__container">
        <div class="styles__content">
            <div class="section-top">Hat’s that bring the fire</div>
            <h2 class="section-title">Our Range</h2>
            <div class="styles__wrapper">
                <ul class="styles__list">
                    <li class="syles__item">
                        <div class="styles__card card-styles">
                            <div class="card-styles__img">
                                <img src="@img/styles/01.jpg" alt="img">
                            </div>
                            <div class="card-styles__body">
                                <div class="card-styles__title">The pretender</div>
                                <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                            </div>
                        </div>
                    </li>
                    <li class="syles__item">
                        <div class="styles__card card-styles">
                            <div class="card-styles__img">
                                <img src="@img/styles/02.jpg" alt="img">
                            </div>
                            <div class="card-styles__body">
                                <div class="card-styles__title">The influencer</div>
                                <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                            </div>
                        </div>
                    </li>
                    <li class="syles__item">
                        <div class="styles__card card-styles">
                            <div class="card-styles__img">
                                <img src="@img/styles/03.jpg" alt="img">
                            </div>
                            <div class="card-styles__body">
                                <div class="card-styles__title">The andy cap</div>
                                <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                            </div>
                        </div>
                    </li>
                    <li class="syles__item">
                        <div class="styles__card card-styles">
                            <div class="card-styles__img">
                                <img src="@img/styles/04.jpg" alt="img">
                            </div>
                            <div class="card-styles__body">
                                <div class="card-styles__title">The traveller</div>
                                <div class="card-styles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="styles__actions actions-styles">
                <div class="actions-styles__bg">More</div>
                <button class="actions-styles__btn" type="button">+  Show More</button>
            </div>
        </div>
</section>