@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

/*
   ==== Main ====
*/

.page {
  border-top: 2px solid var(--lines-co);
  border-bottom: 2px solid var(--lines-co);
  position: relative;

  // .page__strips
  &__strips {
  }

  // .page__hero
  &__hero {
    @include adaptiveValue("padding-top", 140, 28);
    @include adaptiveValue("padding-bottom", 250, 24);
  }

  // .page__options
  &__options {
    @include adaptiveValue("padding-top", 60, 24);
    @include adaptiveValue("padding-bottom", 90, 45);
  }
  // .page__favorites
  &__favorites {
    @include adaptiveValue("padding-top", 90, 24);
    @include adaptiveValue("padding-bottom", 115, 45 );
  }

  // .page__styles
  &__styles {
    @include adaptiveValue("padding-top", 90, 24);
    @include adaptiveValue("padding-bottom", 90, 45);
  }
}
