@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

/*
   ==== Page strips ====
*/
.stripes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: -2;

  // .strips__item
  &__item {
    flex: 1;
    height: 100%;
    border-left: 1px solid var(--lines-co);

    @media (max-width: $breakpoint992) {
      &:first-child {
        display: none;
      }
    }

    @media (max-width: $breakpoint768) {
      flex: 2;
      &:nth-child(2) {
        flex: 1;
      }

      &:last-child {
        flex: 1;
      }
    }
  }
}
