@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

/*
  ==== Utilities ====
*/

// Container
[class*="__container"]  {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

}

[class*="-ibg"] {
	position: relative;
  
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}