/*
  ==== Base ====
*/

html {
  font-size: 100%;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--body-co);
  
  &.locked {
    overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  @supports (overflow: clip) {
    overflow: clip;
  }
  
  > main {
    flex: 1 1 auto;
  }
}

