
<!-- Main content -->
<main class="page">
    {{#if @partial-block}}
        {{> @partial-block }}
    {{/if}}

    <!-- Page strips -->
    <div class="page__strips strips">
        <div class="strips__item"></div>
        <div class="strips__item"></div>
        <div class="strips__item"></div>
        <div class="strips__item"></div>
        <div class="strips__item"></div>
        <div class="strips__item"></div>
    </div>
</main>
