
/*
  ==== Colors ====
*/

:root {
  --white-co: #fff;
  --black-co:#000;
  --text-co:  #967675;
  --heading: #23242C;
  --lines-co:#EDEDED;
  --page-bg:#FAF7F3;
  --burger-color: var(--black-co);
  --burger-active-color: var(--black-co);
}


