/*
  ==== Fonts ====
*/

:root{
  --ff-main: 'Poppins', sans-serif;
  --ff-secondary:'Playfair Display', serif;
  --fw-slim: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;
  --fs-body: 1rem;
}

